[Unit]
Description=Start Teleport Updater daily around 04:30
# This timer triggers the teleport-updater service to update the software

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
RandomizedDelaySec=5m
Unit=teleport-updater.service

[Install]
WantedBy=timers.target