[Unit]
Description=Teleport Updater
# This service updates the Gravitational Teleport software

[Service]
Type=oneshot
ExecStart=/usr/local/bin/teleport-updater